node-red server export
[
    {
        "id": "3205acb9.e29074",
        "type": "tab",
        "label": "PINGPONG/TICTACTOE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "541c0c13.406a74",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player One Score",
        "filename": "D:\\node-red\\pingpong\\p1\\score.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "892b4b9a.fd9f28",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player One Position",
        "filename": "D:\\node-red\\pingpong\\p1\\position.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 640,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2e76aed1.406662",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p1/post/score",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "e91a1239.0e073"
            ]
        ]
    },
    {
        "id": "d2ddcc32.09bd2",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "6fb11b53.555e54",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c5d534e.749ffc",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p1/post/position",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "3436339.34628cc"
            ]
        ]
    },
    {
        "id": "60eac00b.4fd5d",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "6e1a5673.0dd648",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p1/get/score",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "7e82afb1.cbbaa"
            ]
        ]
    },
    {
        "id": "23603c8a.d55214",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "7ccc22d5.3f240c",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p1/get/position",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "7ea8be42.772e"
            ]
        ]
    },
    {
        "id": "df252a79.f79e48",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player One Signal",
        "filename": "D:\\node-red\\pingpong\\p1\\signal.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "a40ca526.46f8d8"
            ]
        ]
    },
    {
        "id": "3db10600.ef433a",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p1/post/signal",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "1c9e5c2.8b36da4"
            ]
        ]
    },
    {
        "id": "54b0e100.05695",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "4109b90c.860af8",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p1/get/signal",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "df252a79.f79e48"
            ]
        ]
    },
    {
        "id": "a40ca526.46f8d8",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "e91a1239.0e073",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "541c0c13.406a74",
                "d2ddcc32.09bd2"
            ]
        ]
    },
    {
        "id": "3436339.34628cc",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "892b4b9a.fd9f28",
                "6fb11b53.555e54"
            ]
        ]
    },
    {
        "id": "1c9e5c2.8b36da4",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "54b0e100.05695",
                "c4d9641c.4edb58"
            ]
        ]
    },
    {
        "id": "2005b43.751f04c",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "POST Player 1",
        "info": "",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "d86a4a85.687f18",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "GET Player 1",
        "info": "",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e651fd8.34a4f",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player Two Score",
        "filename": "D:\\node-red\\pingpong\\p2\\score.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 630,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "55f80352.f5036c",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player Two Position",
        "filename": "D:\\node-red\\pingpong\\p2\\position.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 640,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e6fd5e93.2e4db",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player Two Score",
        "filename": "D:\\node-red\\pingpong\\p2\\score.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 470,
        "y": 900,
        "wires": [
            [
                "3a6a63bd.bf7efc"
            ]
        ]
    },
    {
        "id": "fa4c8c57.50d11",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player Two Position",
        "filename": "D:\\node-red\\pingpong\\p2\\position.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 470,
        "y": 940,
        "wires": [
            [
                "c59b2616.523298"
            ]
        ]
    },
    {
        "id": "b4f2082a.efbd58",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p2/post/score",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "694f34f1.1ee23c"
            ]
        ]
    },
    {
        "id": "90c91542.86d308",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "e288d82d.7a83a8",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "72b8bca8.c0df24",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p2/post/position",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "604b0421.fa583c"
            ]
        ]
    },
    {
        "id": "3a6a63bd.bf7efc",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 900,
        "wires": []
    },
    {
        "id": "1beaa2ef.c0b8fd",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p2/get/score",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 900,
        "wires": [
            [
                "e6fd5e93.2e4db"
            ]
        ]
    },
    {
        "id": "c59b2616.523298",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 940,
        "wires": []
    },
    {
        "id": "1eaafd78.da5e43",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p2/get/position",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 940,
        "wires": [
            [
                "fa4c8c57.50d11"
            ]
        ]
    },
    {
        "id": "4a48527e.163e0c",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player Two Signal",
        "filename": "D:\\node-red\\pingpong\\p2\\signal.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 470,
        "y": 980,
        "wires": [
            [
                "c1dbb968.a7a248"
            ]
        ]
    },
    {
        "id": "e84ba7cf.47be18",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player Two Signal",
        "filename": "D:\\node-red\\pingpong\\p2\\signal.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 630,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "df5cb5a6.45cf68",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p2/post/signal",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 820,
        "wires": [
            [
                "80c73636.fa16c8"
            ]
        ]
    },
    {
        "id": "d484ad69.0e8aa",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 820,
        "wires": []
    },
    {
        "id": "c4852c30.43176",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/p2/get/signal",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 980,
        "wires": [
            [
                "4a48527e.163e0c"
            ]
        ]
    },
    {
        "id": "c1dbb968.a7a248",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 980,
        "wires": []
    },
    {
        "id": "694f34f1.1ee23c",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 740,
        "wires": [
            [
                "3e651fd8.34a4f",
                "90c91542.86d308"
            ]
        ]
    },
    {
        "id": "604b0421.fa583c",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 780,
        "wires": [
            [
                "55f80352.f5036c",
                "e288d82d.7a83a8"
            ]
        ]
    },
    {
        "id": "80c73636.fa16c8",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 820,
        "wires": [
            [
                "d484ad69.0e8aa",
                "e84ba7cf.47be18"
            ]
        ]
    },
    {
        "id": "13cf4c09.1fd654",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "POST Player 2",
        "info": "",
        "x": 180,
        "y": 700,
        "wires": []
    },
    {
        "id": "6d879ec1.c2f3a",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "GET Player 2",
        "info": "",
        "x": 170,
        "y": 860,
        "wires": []
    },
    {
        "id": "5d119890.ebab28",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Ball Coordinate X",
        "filename": "D:\\node-red\\pingpong\\ball\\coor_x.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "4b704e60.c5f86"
            ]
        ]
    },
    {
        "id": "4df80e01.100e2",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Ball Coordinate Y",
        "filename": "D:\\node-red\\pingpong\\ball\\coor_y.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 470,
        "y": 660,
        "wires": [
            [
                "ac015c9.23c11a"
            ]
        ]
    },
    {
        "id": "371b8c73.68aab4",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/ball/post/coor_x",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "f00fc755.000178"
            ]
        ]
    },
    {
        "id": "f00fc755.000178",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "8047b2b4.aae6a",
                "be5a965e.2c9d88"
            ]
        ]
    },
    {
        "id": "8047b2b4.aae6a",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "e58c277b.2ee838",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/ball/post/coor_y",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "c37c6832.259198"
            ]
        ]
    },
    {
        "id": "c37c6832.259198",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 540,
        "wires": [
            [
                "a1425c11.08c59",
                "64a18d62.64cab4"
            ]
        ]
    },
    {
        "id": "a1425c11.08c59",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "59293b3.e58b6c4",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/ball/get/coor_x",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 620,
        "wires": [
            [
                "5d119890.ebab28"
            ]
        ]
    },
    {
        "id": "4b704e60.c5f86",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 620,
        "wires": []
    },
    {
        "id": "2ab5478a.55e458",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/pingpong/ball/get/coor_y",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 660,
        "wires": [
            [
                "4df80e01.100e2"
            ]
        ]
    },
    {
        "id": "ac015c9.23c11a",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "9c2f02d9.3aee2",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "POST Ball",
        "info": "",
        "x": 160,
        "y": 460,
        "wires": []
    },
    {
        "id": "6ce224a5.9a672c",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "GET Ball",
        "info": "",
        "x": 160,
        "y": 580,
        "wires": []
    },
    {
        "id": "7ffa0d2c.5d98f4",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "BAGIAN PING PONG",
        "info": "ASDASDASDA",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "c512689c.6e66e8",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "BAGIAN TIC TAC TOE",
        "info": "ASDASDASDA",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "efae2adf.15d808",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "POST Player O",
        "info": "",
        "x": 1060,
        "y": 140,
        "wires": []
    },
    {
        "id": "56295b80.1655e4",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "GET Player O",
        "info": "",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "6c8970ab.73581",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player O Signal",
        "filename": "D:\\node-red\\tictactoe\\player_o\\signal.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c60e78c1.0e5088",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_o/get/signal",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "84a9bd9d.a006e"
            ]
        ]
    },
    {
        "id": "84a9bd9d.a006e",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player O Signal",
        "filename": "D:\\node-red\\tictactoe\\player_o\\signal.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1440,
        "y": 380,
        "wires": [
            [
                "80ea83f3.492c7"
            ]
        ]
    },
    {
        "id": "c73f3627.cd8cf8",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_o/post/signal",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "142d2f39.eefa21"
            ]
        ]
    },
    {
        "id": "c4d9641c.4edb58",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player One Signal",
        "filename": "D:\\node-red\\pingpong\\p1\\signal.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "be5a965e.2c9d88",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Ball Coordinate X",
        "filename": "D:\\node-red\\pingpong\\ball\\coor_x.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 630,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "64a18d62.64cab4",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Ball Coordinate Y",
        "filename": "D:\\node-red\\pingpong\\ball\\coor_y.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 630,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "9693525b.bc1b3",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_o/post/turn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "9280b998.6ec0f8"
            ]
        ]
    },
    {
        "id": "2c7cb4a4.250dfc",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player O Turn",
        "filename": "D:\\node-red\\tictactoe\\player_o\\turn.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1540,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6039cbaa.ce15a4",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_o/post/row",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "de565c30.50807"
            ]
        ]
    },
    {
        "id": "704834f.fda03cc",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player O Row",
        "filename": "D:\\node-red\\tictactoe\\player_o\\row.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1540,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2b868f2a.92536",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_o/post/column",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1130,
        "y": 300,
        "wires": [
            [
                "acc2bdcc.ef2d8"
            ]
        ]
    },
    {
        "id": "22601331.23a99c",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player O Column",
        "filename": "D:\\node-red\\tictactoe\\player_o\\column.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1550,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "df241fdc.3a3a3",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_o/get/turn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 420,
        "wires": [
            [
                "d39520c8.7d5b2"
            ]
        ]
    },
    {
        "id": "d39520c8.7d5b2",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player O Turn",
        "filename": "D:\\node-red\\tictactoe\\player_o\\turn.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1440,
        "y": 420,
        "wires": [
            [
                "82ad370f.a04278"
            ]
        ]
    },
    {
        "id": "3fd75723.ee5b88",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_o/get/row",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "53ca9558.4df99c"
            ]
        ]
    },
    {
        "id": "53ca9558.4df99c",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player O Row",
        "filename": "D:\\node-red\\tictactoe\\player_o\\row.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1440,
        "y": 460,
        "wires": [
            [
                "3ed610db.8054f"
            ]
        ]
    },
    {
        "id": "68a9f062.83786",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_o/get/column",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1120,
        "y": 500,
        "wires": [
            [
                "4a187768.c4ba08"
            ]
        ]
    },
    {
        "id": "4a187768.c4ba08",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player O Column",
        "filename": "D:\\node-red\\tictactoe\\player_o\\column.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1450,
        "y": 500,
        "wires": [
            [
                "3633061e.4afc6a"
            ]
        ]
    },
    {
        "id": "ce63eb52.5b3d38",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "POST Player X",
        "info": "",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "2be0e543.0d1ada",
        "type": "comment",
        "z": "3205acb9.e29074",
        "name": "GET Player X",
        "info": "",
        "x": 1050,
        "y": 740,
        "wires": []
    },
    {
        "id": "fc230a23.af62a8",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player X Signal",
        "filename": "D:\\node-red\\tictactoe\\player_x\\signal.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1550,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "cb2bf8fc.356d28",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_x/get/signal",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 780,
        "wires": [
            [
                "a03c9cbd.547db"
            ]
        ]
    },
    {
        "id": "a03c9cbd.547db",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player X Signal",
        "filename": "D:\\node-red\\tictactoe\\player_x\\signal.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1440,
        "y": 780,
        "wires": [
            [
                "11454f03.7f82b1"
            ]
        ]
    },
    {
        "id": "1b22756e.648c2b",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_x/post/signal",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1120,
        "y": 580,
        "wires": [
            [
                "71b5ce64.5f74f"
            ]
        ]
    },
    {
        "id": "6af6dac7.2e0ec4",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_x/post/turn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "98467ee7.bcc53"
            ]
        ]
    },
    {
        "id": "6b6e5e74.ff174",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player X Turn",
        "filename": "D:\\node-red\\tictactoe\\player_x\\turn.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1540,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "ecabd983.6e0e08",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_x/post/row",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 660,
        "wires": [
            [
                "babb1355.2d9ad"
            ]
        ]
    },
    {
        "id": "e8ab3f87.940fa",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player X Row",
        "filename": "D:\\node-red\\tictactoe\\player_x\\row.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1540,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "1fe9ffaa.71ab6",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_x/post/column",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1120,
        "y": 700,
        "wires": [
            [
                "fa8467bf.235a28"
            ]
        ]
    },
    {
        "id": "577c9315.8ac60c",
        "type": "file",
        "z": "3205acb9.e29074",
        "name": "[POST] Player X Column",
        "filename": "D:\\node-red\\tictactoe\\player_x\\column.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1550,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "73c9a19d.bc4b",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_x/get/turn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 820,
        "wires": [
            [
                "79942b63.cf92d4"
            ]
        ]
    },
    {
        "id": "79942b63.cf92d4",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player X Turn",
        "filename": "D:\\node-red\\tictactoe\\player_x\\turn.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1440,
        "y": 820,
        "wires": [
            [
                "ad6578a7.e19468"
            ]
        ]
    },
    {
        "id": "91dbc410.687018",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_x/get/row",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1110,
        "y": 860,
        "wires": [
            [
                "5cb51084.096ea"
            ]
        ]
    },
    {
        "id": "5cb51084.096ea",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player X Row",
        "filename": "D:\\node-red\\tictactoe\\player_x\\row.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1440,
        "y": 860,
        "wires": [
            [
                "1d7e6ee9.2d2021"
            ]
        ]
    },
    {
        "id": "a2ded2f7.2789b",
        "type": "http in",
        "z": "3205acb9.e29074",
        "name": "",
        "url": "/tictactoe/player_x/get/column",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1120,
        "y": 900,
        "wires": [
            [
                "3ee05c39.3426f4"
            ]
        ]
    },
    {
        "id": "3ee05c39.3426f4",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player X Column",
        "filename": "D:\\node-red\\tictactoe\\player_x\\column.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1450,
        "y": 900,
        "wires": [
            [
                "549e4921.8aaea8"
            ]
        ]
    },
    {
        "id": "7e82afb1.cbbaa",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player One Score",
        "filename": "D:\\node-red\\pingpong\\p1\\score.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "60eac00b.4fd5d"
            ]
        ]
    },
    {
        "id": "7ea8be42.772e",
        "type": "file in",
        "z": "3205acb9.e29074",
        "name": "[GET] Player One Position",
        "filename": "D:\\node-red\\pingpong\\p1\\position.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "23603c8a.d55214"
            ]
        ]
    },
    {
        "id": "d8eb8e63.a6699",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 180,
        "wires": []
    },
    {
        "id": "2c3468da.191028",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd8eb535.88d008",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 260,
        "wires": []
    },
    {
        "id": "21142eb3.26c4e2",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 300,
        "wires": []
    },
    {
        "id": "80ea83f3.492c7",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 380,
        "wires": []
    },
    {
        "id": "82ad370f.a04278",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 420,
        "wires": []
    },
    {
        "id": "3ed610db.8054f",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 460,
        "wires": []
    },
    {
        "id": "3633061e.4afc6a",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 500,
        "wires": []
    },
    {
        "id": "23394fee.55fb4",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 580,
        "wires": []
    },
    {
        "id": "db694c66.19156",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 620,
        "wires": []
    },
    {
        "id": "8da4ae76.d9db2",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 660,
        "wires": []
    },
    {
        "id": "e7550afb.f2fe78",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 700,
        "wires": []
    },
    {
        "id": "11454f03.7f82b1",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 780,
        "wires": []
    },
    {
        "id": "ad6578a7.e19468",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 820,
        "wires": []
    },
    {
        "id": "1d7e6ee9.2d2021",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 860,
        "wires": []
    },
    {
        "id": "549e4921.8aaea8",
        "type": "http response",
        "z": "3205acb9.e29074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 900,
        "wires": []
    },
    {
        "id": "acc2bdcc.ef2d8",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 1360,
        "y": 300,
        "wires": [
            [
                "21142eb3.26c4e2",
                "22601331.23a99c"
            ]
        ]
    },
    {
        "id": "142d2f39.eefa21",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 1360,
        "y": 180,
        "wires": [
            [
                "d8eb8e63.a6699",
                "6c8970ab.73581"
            ]
        ]
    },
    {
        "id": "9280b998.6ec0f8",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 1360,
        "y": 220,
        "wires": [
            [
                "2c3468da.191028",
                "2c7cb4a4.250dfc"
            ]
        ]
    },
    {
        "id": "de565c30.50807",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 1360,
        "y": 260,
        "wires": [
            [
                "bd8eb535.88d008",
                "704834f.fda03cc"
            ]
        ]
    },
    {
        "id": "fa8467bf.235a28",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 1340,
        "y": 700,
        "wires": [
            [
                "e7550afb.f2fe78",
                "577c9315.8ac60c"
            ]
        ]
    },
    {
        "id": "71b5ce64.5f74f",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 1340,
        "y": 580,
        "wires": [
            [
                "23394fee.55fb4",
                "fc230a23.af62a8"
            ]
        ]
    },
    {
        "id": "98467ee7.bcc53",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 1340,
        "y": 620,
        "wires": [
            [
                "db694c66.19156",
                "6b6e5e74.ff174"
            ]
        ]
    },
    {
        "id": "babb1355.2d9ad",
        "type": "template",
        "z": "3205acb9.e29074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 1340,
        "y": 660,
        "wires": [
            [
                "8da4ae76.d9db2",
                "e8ab3f87.940fa"
            ]
        ]
    }
]
